.quest-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  min-height: 100vh;
  min-width: 100vw;
  color: #ccc;
  padding: 20px;
}

.quest-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/fortress.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.quest-journal {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.quest-container-columns {
  display: flex;
  justify-content: space-between;
}

.quest-list {
  width: 50%;
  background: rgba(0, 0, 0, 0.90);
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow-y: auto;
  min-height: 800px;
  height: 800px;
  overflow-y: scroll;
  border: 8px ridge #69171c;
}

/* Right column for quest info */
.quest-info {
  width: 50%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow-y: auto;
  min-height: 800px;
  height: 800px;
}

.collapsible-title {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  position: relative;
}

.collapsible-title.renderDropdown::before {
  content: '';
  position: absolute;
  left: 0; 
  top: 40%;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  border: solid #69171c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s; 
}

.collapsible-title.renderDropdown.expanded::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.depth-0 {
  font-size: 30px;
}

.depth-1 {
  font-size: 22px;
  margin-left: 12px;
}

.depth-2 {
  font-size: 18px;
  margin-left: 24px;
}

.depth-3 {
  font-size: 14px;
  margin-left: 36px;
}
