.quest-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  min-height: 100vh;
  min-width: 100vw;
  color: #ccc;
  padding: 20px;
  transition: transform 0.2s;
}

.quest-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/fortress.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.quest-journal {
  font-size: 36px;
  font-weight: bold;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 930px) {
  .quest-journal {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.quest-container-columns {
  display: flex;
  justify-content: space-between;
}

.quest-column {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  min-height: 80vh;
  height: 80vh;
}

.quest-list {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin-right: 20px;
  overflow-y: scroll;
  border: 8px ridge #69171c;
}

.quest-info {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  max-width: 90vw;
  overflow-x: hidden;
  text-align: center;
  font-size: 20px;
}

.placeholder-skull {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the image horizontally and move it up by half its height */
  width: 100px;
  height: 120px;
  background-image: url("../images/skull.png");
  opacity: 0.6;
  background-size: contain; /* Keeps the aspect ratio */
  background-repeat: no-repeat;
}

.collapsible-title {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  position: relative;
}

.collapsible-title.renderDropdown::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  border: solid #69171c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s;
}

.collapsible-title.renderDropdown.expanded::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.depth-0 {
  font-size: 30px;
}

.depth-1 {
  font-size: 22px;
  margin-left: 12px;
}

.depth-2 {
  font-size: 18px;
  margin-left: 24px;
}

.depth-3 {
  font-size: 14px;
  margin-left: 36px;
}

@media (max-width: 930px) {
  .depth-0 {
    font-size: 26px;
  }
  
  .depth-1 {
    font-size: 18px;
    margin-left: 12px;
  }
  
  .depth-2 {
    font-size: 14px;
    margin-left: 24px;
  }
  
  .depth-3 {
    font-size: 12px;
    margin-left: 36px;
  }
}

@media (max-width: 500px) {
  .quest-container-columns {
    flex-direction: column;
  }

  .quest-list {
    margin-bottom: 8px;
    min-height: 20vh;
    height: fit-content;
  }
}
