body {
  overflow: hidden;
}

label {
  font-family: 'MedievalSharp', cursive;
  cursor: pointer;
}

.button {
  font-family: 'MedievalSharp', cursive;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  min-width: 200px;
  color: #fff;
  background-color: #4e342e;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px #333;
  transition: all 0.3s ease;
}

.btn-group .button:hover {
  background-color: #5a4036;
  box-shadow: 0 9px #333;
}

.button:active {
  background-color: #3e2c23;
  box-shadow: 0 3px #333;
  transform: translateY(4px);
}

.btn-group .button {
  display: block;
  margin: 20px auto;
}

.btn-group .button:not(:last-child) {
  border-bottom: none;
}

.dropdown {
  position: sticky;
  float: right;
  bottom: 100%;
  margin: 10px 10px 0 0;
}

.dropdown-content {
  margin: 0;
  display: none;
  position: absolute;
  min-width: 160px;
  border-radius: 4px;
}

.dropdown-content button {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content button:hover {
  background-color: #3d3d3d;
}
