body {
    overflow: hidden;
}

label {
    font-family: MS Shell Dlg;
    cursor: pointer;
}

.button {
    font-family: MS Shell Dlg;
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ad5c3d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(83, 83, 83);
}

.btn-group .button:hover {
    background-color: #a35638;
}

.button:active {
    background-color: #a35638;
    box-shadow: 0 5px rgb(58, 58, 58);
    transform: translateY(4px);
}

.btn-group .button {
    display: block;
    margin-top: 30px;
}

.btn-group .button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

.dropdown {
    position: sticky;
    float: right;
    bottom: 100%;
    margin: 10px 10px 0 0;
}

.dropdown-content {
    margin: 0;
    display: none;
    position: relative;
    min-width: 160px;
}

.dropdown-content button:hover {
    background-color: none;
}