*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'MedievalSharp', cursive;
  font-size: 65%;
}

body {
  background-color: #a81d26;
  background-image: url('../images/avernus2.png');
  background-blend-mode: multiply;
  background-size: cover; 
  background-position: top; 

  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
}

.mapClass {
  background-image: url("../images/elturel-map.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  text-align: center;
  height: 918px;
  width: 1292.4px;
  padding-top: 10px;
  padding-right: 30px;
  border: 8px ridge #69171c;
}

.mapNode {
  width: 55px;
  height: 55px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 100;
}

.line {
  position: absolute;
}

.u-text-1 {
  font-size: 3rem;
  color: #f4f4f4;
  margin-bottom: 30px;
  margin-top: 40px;
  align-self: center;
}

.u-text-2 {
  font-size: 2rem;
  color: #e0e0e0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.generatorContainer {
  height: 700px;
  width: 1292.4px;
  padding-top: 10px;
  padding-right: 30px;
  border: 8px ridge #69171c;
  background-color: #3f2004;
  background-image: url('../images/slab.jpg');
  background-blend-mode: multiply;
  background-size: cover; 
  background-position: bottom; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.ornaments::before {
  content: url('../images/left.png'); 
  position: absolute;
  bottom: 0;
  left: 0;
}

.ornaments::after {
  content: url('../images/right.png');
  position: absolute;
  bottom: 0;
  right: 0;
}

.column-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
  align-items: start;
}

.column {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  justify-content: center;

}