.infernal-button {
  font-family: "MedievalSharp", cursive;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/buttons/button.png");
  color: #fff;
  width: 160px;
  height: 45px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
  text-transform: capitalize;  
  background-color: transparent;
  border: none;
}

.infernal-button:hover {
  color: #fff;
  background-image: url("../images/buttons/button3.png");
  outline: none;
}

.infernal-button:focus {
  outline: none;
  background-image: url("../images/buttons/button2.png");
}

.floating {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.floating-2 {
  position: absolute;
  bottom: 110px;
  right: 20px;
}
.floating-3 {
  position: absolute;
  bottom: 200px;
  right: 20px;
}
