html {
  font-family: "MedievalSharp", cursive;
}

.u-section-1 {
  background-color: #69171c;
  padding: 20px 0;
  min-height: 100vh;
  background-image: url("../images/avernus3.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
  min-width: 1292.4px;
  background-color: #262626;
  border: 1px solid #404040;
  padding: 20px;
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px ridge #69171c;

  background-image: url("../images/slab.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom;
}

.u-section-1 .u-sheet-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center the image horizontally and move it up by half its height */
  width: 100px;
  height: 100px;
  background-image: url("../images/skull.png");
  background-size: contain; /* Keeps the aspect ratio */
  background-repeat: no-repeat;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  color: #f4f4f4;
  margin-bottom: 20px;
  margin-top: 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  color: #e0e0e0;
  margin: 20px auto;
  height: 40px;
}

.u-section-1 .u-text-3 {
  line-height: 1.6;
  font-size: 1rem;
  color: #ccc;
  width: 800px;
  padding: 0 20px;
}

.u-section-1 .u-btn-1 {
  background-color: #ad5c3d;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 30px;
  text-transform: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }
  .u-section-1 .u-text-1,
  .u-section-1 .u-text-2,
  .u-section-1 .u-text-3 {
    width: auto;
  }
}

h5 {
  font-size: 1.1rem;
  color: #f4f4f4;
  margin: 15px 0;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: disc;
  color: #e0e0e0;
}
