<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Elturel Map</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="style/elturel-map.css" />\
    <link rel="stylesheet" href="style/infernal-button.css" media="screen" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=MedievalSharp"
    />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <script src="javascript/vue.js"></script>
    <script src="../data/elturel-data.js"></script>
    <script src="javascript/auxiliary.js"></script>
    <script src="javascript/randomGenerators.js"></script>
  </head>

  <!-- Templates -->

  <script type="text/x-template" id="location-template">
    <a :href="urlMaker">
        <div class="mapNode" :style="styleObject" :title="locName">
            <div>{{ parsedNumId }}</div>
        </div>
    </a>
  </script>

  <script type="text/x-template" id="map-template">
    <div>
        <!-- Render location markers -->
        <location-marker v-for="location in locations" :key="`node${location.numId}`"
                         :x="location.x" :y="location.y" :numId="location.numId" :locName="location.name">
        </location-marker>

        <!-- Render connecting lines -->
        <div v-for="location in locations" :key="location.numId">
            <div v-for="connectedId in location.connectedTo" :key="connectedId"
                 :style="calculateLineStyle(location, locations.find(loc => loc.numId === connectedId), location.numId, connectedId)"
                 class="line"></div>
        </div>
    </div>
  </script>

  <!-- Body -->

  <body>
    <div id="app" >
      <div class="mapClass" v-if="generatorsOpen">
        <map-grid :locations="locations"></map-grid>
      </div>
      <div class="generatorContainer" v-if="!generatorsOpen">
        <div class="column-row">
          <div class="column">
            <h3 class="u-text-1">Random Building</h3>
            <p class="u-text-2">Business: {{ business }}</p>
            <p class="u-text-2">Damage: {{ damage }}</p>
            <button class="infernal-button" onclick="app.makeBuilding()">Make New Building</button>
            <div class="history">
              <div class="history-el"  v-for="(item, index) in buildingHistory" :key="index">
                <p>Business: {{ item.business }} </p><p> Damage: {{ item.damage }}</p>
              </div>
            </div>
          </div>

          <div class="column">
            <h3 class="u-text-1">Random NPC</h3>
            <p class="u-text-2">Job: {{ job }}</p>
            <p class="u-text-2">Crisis: {{ crisis }}</p>
            <button class="infernal-button" onclick="app.makeNPC()">Make New NPC</button>
            <div class="history">
              <div class="history-el" v-for="(npc, index) in npcHistory" :key="`npc-${index}`">
                <p>Job: {{ npc.job }} </p><p> Crisis: {{ npc.crisis }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="ornaments"></div>
      </div>
    </div>
    <button class="infernal-button floating" onclick="app.toggleRandomGenerators()">Toggle View</button>
    <script src="javascript/elturel.js"></script>
  </body>
</html>
