<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/map.css">
    <link rel="stylesheet" type="text/css" href="style/buttons.css">
    <title>Dynamic map</title>

    <!--
        DEVELOPEMENT OPTIONS, SELECT EITHER OF THE TWO
        
        first option works offline, second option pulls the lastest version of vue.js from the net
    -->

    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <script src="javascript/vue.js"></script>

    <script src="../data/data.js"></script>
    <script src="javascript/auxiliary.js"></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
    <div class="honeycomb" :class="[!showTerrain ? map : lowLv]" id="app">
        <div v-for="element in printable">
            <row :element="element"></row>

            <div :class="[showTerrain ? visTerr : invisTerr]" style="position: absolute;">
                <img class="hexImg noselect" v-for="terr in element" :id="terr.hex" :src="'images/tiles/'+terr.terrain[0]+'.png'">
            </div>
        </div>
        <img class="upperLev" src="images/upper.png" v-if="showTerrain">
    </div>

    <div class="dropdown noselect">
        <div class="button" onclick="toggleGroup()">
            <label id="parentButton">Show options</label>
        </div>
        <div class="btn-group dropdown-content" id="btnGroup">
            <button class="button" onclick="app.swapMap()">Swap map</button>
            <!-- <button class="button">More features coming in the future...</button> -->
        </div>
    </div>

    <!--vue.js scripts below here-->

    <script type="text/x-template" id="hexagon-template">
        <a :href="urlMaker" :id="hex" class="hexagon">
            <div class="hexagontent">{{ name }}</div>
        </a>
    </script>

    <script type="text/x-template" id="row-template">
        <div class="ibws-fix noselect">
            <hexagon v-for="location in element" :key="location.hex" :hex="location.hex" :name="location.name" url="urlMaker"></hexagon>
        </div>
    </script>

    <script src="javascript/index.js"></script>
</body>

</html>