<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Location page</title>
    <link rel="stylesheet" href="style/imported.css" media="screen">
    <link rel="stylesheet" href="style/locations.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <script src="javascript/vue.js"></script>
    <script src="../data/data.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
</head>

<body class="u-body">
    <div id="app">
        <place v-for="(item, index) in printable" :key="item.hex" :name="item.name" :item="item.item" :terrain="renderTerrain(item)" :text="item.text" :index="index" :end="printable.length - 1"></place>
    </div>

    <script type="text/x-template" id="place-template">
        <section class="u-align-center u-white u-section-1">
            <div class="u-sheet u-sheet-1">
                <h1 class="u-text u-text-1"> {{ name }}
                    <br>
                </h1>
                <h6 class="u-align-center u-text u-text-2">
                    <p v-if="item">
                        <i>Items in place: {{ item }}</i>
                    </p>
                    <p>
                        <i>Terrain: {{ terrain }}</i>
                    </p>
                </h6>
                <p class="u-align-justify u-text u-text-3" v-html="text"></p>
                <div v-if="index == end">
                    <a href="index.html" class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-1">return to the map</a>
                </div>
            </div>
        </section>
    </script>


    <script src="javascript/location.js"></script>


</body>

</html>